@model QuanLyNhanSu.Models.KhenThuongKyLuat

@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
</head>

<body class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Khen thưởng/ Kỷ luật</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <b>@Html.Label("Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-3">
                            @Html.DropDownList("MaNhanVien", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaNhanVien, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>@Html.Label("Ngày", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Ngay, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.Ngay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>@Html.Label("Loại", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-10">
                            @Html.Label("Khen thưởng")
                            @Html.RadioButton("loai", "True", true)
                            @Html.Label("Kỷ luật")
                            @Html.RadioButton("loai", "False")
                            @Html.ValidationMessageFor(model => model.Loai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>@Html.Label("Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <b>@Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })</b>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Quay lại", "KhenThuongKyLuat")
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</body>


