@model PagedList.IPagedList<QuanLyNhanSu.Models.BangLuong>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "MucLuong";
    if (Session["ma"].ToString() == "QL")
    {
        Layout = "~/Views/Shared/_Layout_HoSoAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout_NhanVien.cshtml";
    }
}
<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function () {
            $('.datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                onClose: function (dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 0));
                }
            });
        });
    </script>
    <link href="~/Content/Css/Style.css" rel="stylesheet" />
</head>
<body class="container-fluid">
    <br />
    <div class="row">
        @*<div class="col-lg-1"></div>*@
        <div class="col-lg-5">
            @using (Html.BeginForm("MucLuong", "Employee"))
            {
                <div class="form-group">
                    <b>@Html.Label("Tháng")</b>
                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                @Html.Editor("thang", new { htmlAttributes = new { @class = "form-control datepicker" } })
                            </div>
                            <div class="col-lg-4">
                                <input style="display:inline" type="submit" class="btn btn-primary" value="Lọc" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <div class="card">
                <div class="card-header">
                    Các mục lương thưởng
                </div>
                <table class="table table-striped">
                    <tr style="background-color:#fa8f35;">
                        <th>Tháng</th>
                        <th>Thông tin</th>
                        <th>Lương cơ bản</th>
                        <th>Lương thưởng</th>
                        <th>Lương trừ</th>
                        <th>Tổng lương</th>
                        <th>Ghi chú</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{
                                var thang = item.Thang.ToString("MM/yyyy");
                            }
                            <td>@thang</td>
                            <td>
                                <div>Số ngày đi làm: <b>@Html.DisplayFor(Model => item.SoNgayLam)</b></div>
                                <div>Số ngày nghĩ: <b>@Html.DisplayFor(Model => item.SoNgayNghi)</b></div>
                            </td>
                            <td><b>@string.Format("{0:n0}", item.LuongCoBan) VND</b></td>
                            <td><b>@string.Format("{0:n0}", item.LuongThuong) VND</b></td>
                            <td><b>@string.Format("{0:n0}", item.LuongTru) VND</b></td>
                            <td><b>@string.Format("{0:n0}", item.TongLuong) VND</b></td>
                            <td>@Html.DisplayFor(model => item.GhiChu)</td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(Model, trang => Url.Action("MucLuong", new { trang }))
            </div>
        </div>
    </div>
</body>

